<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>滕州百灵文化传媒有限公司</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="screen">
    <link href="/assets/kefu/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/style.css" media="screen">

    <link rel="shortcut icon" href="/imgs/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/imgs/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="col-width-1170">
    <div class="header">
        <img src="/imgs/logo.png" class="logo">
        <div class="navHeader">
            <ul class="nav">
                <li><a href="/">主页</a></li>
                <li><a href="/online">在线试听</a></li>
                <li class="active"><a href="/about">关于我们</a></li>
                <li><a href="/business">业务范围</a></li>
                <li><a href="/cooperation">合作流程</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="bannerDiv">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/imgs/banner/b1.png" alt="店鋪地址">
                <div class="banner-content">
                    <p>一流的配音师</p>
                    <p>一流的录音设备</p>
                    <p>一流的售后服务</p>
                    <p style="margin-bottom: 40px;">只为给您打造满意的声音</p>
                    <a target="_blank"
                       href="https://shop150130081.taobao.com/shop/view_shop.htm?tracelog=twddp&user_number_id=2818166572&user_id=2818166572"
                       class="banner-btn">
                        立即咨询
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/imgs/banner/b2.png" alt="Second slide">
                <div class="banner-content banner-content-2">
                    <p>众多专业化的配音师</p>
                    <p>量身定制的专业声源</p>
                    <p>拒绝平庸、模式化的声音</p>
                    <p style="margin-bottom: 40px;">满足多元化的声音需求</p>
                    <a class="banner-btn banner-btn-2">
                        立即试听
                    </a>
                </div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" style="line-height: 300px;font-size: 100px;" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" style="line-height: 300px;font-size: 100px;" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
</div>
<div class="col-width-1170">
    <div class="col-md-12 margin-bottom-30">
        <p class="content-header">关于我们：</p>
        <p class="content-span">
            <b>滕州百灵文化传媒有限公司是</b>
            一家面向全国以互联网为平台的专业配音服务机构，
            我们的制作团体遍布全国，旗下拥有国内上百位优秀专业配音人员，能满足不同客户的各种需求。
            拥有专业的录音棚，由拥有专业声学经验的录音师建声，并全程监督录音棚建设。得到了业内人士一致好评与认可!
        </p>
    </div>
    <div class="col-md-12 margin-bottom-30">
        <p class="content-header">我们的团队：</p>
        <p class="content-span content-span-about">
            <b>滕州百灵文化传媒有限公司</b>经过长时间磨练，已成长为在业内以技术力量雄厚、专业和服务专业、可靠为特色的制作机构。
        </p>
        <p class="content-span content-span-about">专业，是我们的特色!</p>
        <p class="content-span content-span-about">服务，是我们的基石!</p>
        <p class="content-span content-span-about">我们会根据客户的各种要求为客户量身定做您需要的各种专业配音等，在这里，您可以得到最满意的作品和最满意的服务。</p>
    </div>
    <div class="col-md-12 margin-bottom-30">
        <p class="content-header">我们的理念：</p>
        <p class="content-span content-span-about">
            我们秉承诚信经营的理念，依靠高品质配音服务水平，通过严格管理和规范的控制流程，得到了新老客户的好评！
        </p>
    </div>
    <div class="col-md-12 margin-bottom-30">
        <p class="content-header">我们的业务：</p>
        <p class="content-span content-span-about">
            主要业务有广播电视栏目、广告片、专题片、宣传片、纪录片、影视剧、动画片、多媒体课件、儿童出版物、语音录制等配音、配乐、翻译等业务。
        </p>
    </div>
    <div class="col-md-12 margin-bottom-30">
        <p class="content-header">加入我们：</p>
        <p class="content-span content-span-about">
            本公司常年招聘全职和兼职配音师，有意者请联系客服，发送个人简历至公司邮箱（<b><i>Dubbailing@163.com</i></b>）。
        </p>
        <p class="content-span content-span-about">
            欢迎有志之士加入我们!
        </p>
    </div>
</div>
<div class="footer">
    <div class="col-width-1170">
        <div class="foot-img-div">
            <img src="/imgs/music.png" class="foot-img">
        </div>
    </div>
    <div class="footerContent">
        <div class="col-width-1170">
            <p class="foot-p">Copyright © 随风配音网All Rights Reserved </p>
            <p class="foot-p">联系方式：17098187078 备案号：鲁ICP备15016566</p>
        </div>
    </div>
</div>

<!--qq聊天代码部分begin-->
<div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
    <div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li style="padding-left:0px;">
                <a target="_blank" href="tencent://message/?uin=1234567890&Site=sc.chinaz.com&Menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:张三
                </a>
            </li>
            <li style="padding-left:0px;">
                <a target="_blank" href="tencent://message/?uin=1234567890&Site=sc.chinaz.com&Menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:张三
                </a>
            </li>
            <li style="padding-left:0px;">
                <a target="_blank" href="tencent://message/?uin=1234567890&Site=sc.chinaz.com&Menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:张三
                </a>
            </li>
        </ul>
        <div class="floatDtxt">热线电话</div>
        <div class="floatDtel">
            <p class="tel-num">010-123456789</p>
            <p class="tel-num">010-123456789</p>
        </div>
    </div>
    <a href="javascript:void(0)" class="btn_top" style="display: block;"></a>
</div>
<!--qq聊天代码部分end-->
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/main.js"></script>

</body>
</html>
