<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>滕州百灵文化传媒有限公司</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="screen">
    <link href="/assets/kefu/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/style.css" media="screen">

    <link rel="shortcut icon" href="/imgs/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/imgs/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="col-width-1170">
    <div class="header">
        <img src="/imgs/logo.png" class="logo">
        <div class="navHeader">
            <ul class="nav">
                <li><a href="/">主页</a></li>
                <li><a href="/online">在线试听</a></li>
                <li><a href="/about">关于我们</a></li>
                <li class="active"><a href="/business">业务范围</a></li>
                <li><a href="/cooperation">合作流程</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="bannerDiv">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/imgs/banner/b1.png" alt="店鋪地址">
                <div class="banner-content">
                    <p>一流的配音师</p>
                    <p>一流的录音设备</p>
                    <p>一流的售后服务</p>
                    <p style="margin-bottom: 40px;">只为给您打造满意的声音</p>
                    <a target="_blank"
                       href="https://shop150130081.taobao.com/shop/view_shop.htm?tracelog=twddp&user_number_id=2818166572&user_id=2818166572"
                       class="banner-btn">
                        立即咨询
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/imgs/banner/b2.png" alt="Second slide">
                <div class="banner-content banner-content-2">
                    <p>众多专业化的配音师</p>
                    <p>量身定制的专业声源</p>
                    <p>拒绝平庸、模式化的声音</p>
                    <p style="margin-bottom: 40px;">满足多元化的声音需求</p>
                    <a class="banner-btn banner-btn-2" href="/online">
                        立即试听
                    </a>
                </div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" style="line-height: 300px;font-size: 100px;" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" style="line-height: 300px;font-size: 100px;" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
</div>
<div class="col-width-1170">
    <div class="col-md-12">
        <p class="content-header">关于我们：</p>
        <p class="content-span">
            <b>滕州百灵文化传媒有限公司是</b>
            一家面向全国以互联网为平台的专业配音服务机构，
            我们的制作团体遍布全国，旗下拥有国内上百位优秀专业配音人员，能满足不同客户的各种需求。
            拥有专业的录音棚，由拥有专业声学经验的录音师建声，并全程监督录音棚建设。得到了业内人士一致好评与认可!
        </p>
    </div>
    <div class="col-md-12 margin-top-50">
        <p class="content-header">业务范围：</p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div style="padding-left: 50px;padding-top: 30px;">
                    <p>影视传媒：动画片配音、专题片配音、电影配音、电视配音、纪录片配音、展会宣传配音、影视剧配音等；</p>
                    <p>广告类：广告配音、广告作品配音、卖场促销广告配音；</p>
                    <p>广播类：广播宣传解说等学校、企业、车站、机场播音系统配音；</p>
                    <p>解说类：专题配音解说、服务用语解说、参观游览解说、工程标书解说、小说配音等；</p>
                    <p>多媒体：VCD光盘、集团彩铃、电信、金融CTI的语音录制、多媒体课件解说；</p>
                    <p>教学类：电子词典、教材、演示配音、电子图书、各类语言IC系列录制；</p>
                    <p>工业用声：防盗、报警、车辆船舶导航系统的语音录制；</p>
                    <p>出版物：有声读物、文艺作品、课件、培训软件的语音录制；</p>
                    <p>个性配音：婚礼配音、游戏配音。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="col-width-1170">
        <div class="foot-img-div">
            <img src="/imgs/music.png" class="foot-img">
        </div>
    </div>
    <div class="footerContent">
        <div class="col-width-1170">
            <p class="foot-p">Copyright © 滕州百灵文化传媒有限公司 </p>
            <p class="foot-p">联系方式：15665287358 备案号：鲁ICP备17042151号</p>
        </div>
    </div>
</div>

<!--qq聊天代码部分begin-->
<div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
    <div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li style="padding-left:0px;">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=961409220&site=qq&menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:小天
                </a>
            </li>
            <li style="padding-left:0px;">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=961191771&site=qq&menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:小陈
                </a>
            </li>
            <li style="padding-left:0px;">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3311959513&site=qq&menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:丹丹
                </a>
            </li>
        </ul>
        <div class="floatDtxt">热线电话</div>
        <div class="floatDtel">
            <p class="tel-num">156 6528 7358</p>
            <p class="tel-num">183 1025 7080</p>
        </div>
    </div>
    <a href="javascript:void(0)" class="btn_top" style="display: block;"></a>
</div>
<!--qq聊天代码部分end-->
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/main.js"></script>

</body>
</html>
