<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>滕州百灵文化传媒有限公司</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="/bower_components/DataTables/media/css/jquery.dataTables.min.css" media="screen">
    <link rel="stylesheet" href="/assets/audioplayer/css/audioplayer.css" media="screen">
    <link href="/assets/kefu/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/style.css" media="screen">

    <link rel="shortcut icon" href="/imgs/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/imgs/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="col-width-1170">
    <div class="header">
        <img src="/imgs/logo.png" class="logo">
        <div class="navHeader">
            <ul class="nav">
                <li><a href="/">主页</a></li>
                <li class="active"><a href="/online">在线试听</a></li>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/business">业务范围</a></li>
                <li><a href="/cooperation">合作流程</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="bannerDiv">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/imgs/banner/b1.png" alt="店鋪地址">
                <div class="banner-content">
                    <p>一流的配音师</p>
                    <p>一流的录音设备</p>
                    <p>一流的售后服务</p>
                    <p style="margin-bottom: 40px;">只为给您打造满意的声音</p>
                    <a target="_blank"
                       href="https://shop150130081.taobao.com/shop/view_shop.htm?tracelog=twddp&user_number_id=2818166572&user_id=2818166572"
                       class="banner-btn">
                        立即咨询
                    </a>
                </div>
            </div>
            <div class="item">
                <img src="/imgs/banner/b2.png" alt="Second slide">
                <div class="banner-content banner-content-2">
                    <p>众多专业化的配音师</p>
                    <p>量身定制的专业声源</p>
                    <p>拒绝平庸、模式化的声音</p>
                    <p style="margin-bottom: 40px;">满足多元化的声音需求</p>
                    <a class="banner-btn banner-btn-2" href="/online">
                        立即试听
                    </a>
                </div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" style="line-height: 300px;font-size: 100px;" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" style="line-height: 300px;font-size: 100px;" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
</div>
<div class="col-width-1170">

    <div class="col-md-12 margin-top-50 margin-bottom-30">
        <p class="content-header">我们的作品：</p>
    </div>
    <div class="col-ms-12">
        <div class="text-align-right">
            <div class="form-group">
                <input type="text" class="form-control input-smf filter pull-right" style="width: 300px;margin-bottom: 5px;" data-index="1"
                       placeholder="按样音名搜索" id="dubName"/>
                <select name="type" style="width: 150px;" class="form-control input-smf filter pull-right"
                        data-index="2" id="dubType">
                    <option value="">全部类型</option>
                </select>
            </div>
        </div>
        <div style="padding-left: 20px;margin-bottom:100px; ">
            <table id="dubListTable"
                   class="table table-striped table-bordered table-hover dataTable no-footer"
                   width="100%" role="grid" aria-describedby="dt_basic_info"
                   style="width: 100%;">
                <thead>
                <tr role="row">
                    <th width="3%"></th>
                    <th width="35%">样音名</th>
                    <th width="10%">样音类型</th>
                    <th width="30%">样音播放</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="footer">
    <div class="col-width-1170">
        <div class="foot-img-div">
            <img src="/imgs/music.png" class="foot-img">
        </div>
    </div>
    <div class="footerContent">
        <div class="col-width-1170">
            <p class="foot-p">Copyright © 随风配音网All Rights Reserved </p>
            <p class="foot-p">联系方式：17098187078 备案号：鲁ICP备15016566</p>
        </div>
    </div>
</div>

<!--qq聊天代码部分begin-->
<div id="rightArrow"><a href="javascript:;" title="在线客户"></a></div>
<div id="floatDivBoxs">
    <div class="floatDtt">在线客服</div>
    <div class="floatShadow">
        <ul class="floatDqq">
            <li style="padding-left:0px;">
                <a target="_blank" href="tencent://message/?uin=1234567890&Site=sc.chinaz.com&Menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:张三
                </a>
            </li>
            <li style="padding-left:0px;">
                <a target="_blank" href="tencent://message/?uin=1234567890&Site=sc.chinaz.com&Menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:张三
                </a>
            </li>
            <li style="padding-left:0px;">
                <a target="_blank" href="tencent://message/?uin=1234567890&Site=sc.chinaz.com&Menu=yes">
                    <img src="/assets/kefu/images/qq.png" align="absmiddle"> 客服:张三
                </a>
            </li>
        </ul>
        <div class="floatDtxt">热线电话</div>
        <div class="floatDtel">
            <p class="tel-num">010-123456789</p>
            <p class="tel-num">010-123456789</p>
        </div>
    </div>
    <a href="javascript:void(0)" class="btn_top" style="display: block;"></a>
</div>
<!--qq聊天代码部分end-->
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/DataTables/media/js/i18n.zh.js"></script>
<script src="/assets/audioplayer/js/audioplayer.js"></script>
<script src="/assets/main.js"></script>
<script src="/assets/online.js"></script>
</body>
</html>
